name: Build and Test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm config set proxy false
      - run: npm cache clean --force
      - run: npm config set registry http://registry.npm.taobao.org/
      - run: npm install 
      - run: npm run build

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm config set proxy false
      - run: npm cache clean --force
      - run: npm config set registry http://registry.npm.taobao.org/
      - run: npm install 
      - run: npm test
